<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destination</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Accueil<span class="sr-only">(current)</span></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/voyage">Voyage<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/destination">Destination<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/excursion">Excursion<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<h1>  </h1>

<div class="jumbotron jumbotron-fluid" >
  <div class="container">
    <h1 class="display-4" align="center" style="color: #040330">Destinations Disponibles</h1>
      <br/>
    <p class="lead" align="center">retrouvez l'ensembles des destinations qu'offres notre agence</p>
  </div>
</div>

<div class="container">
<ul>
    {%for x in destination%}
        <div class="shadow-lg p-3 mb-5 bg-white rounded" align="center">
        <form method="POST" class="post_form" action="voyage_dest">
            {% csrf_token %}
            <h1>Destination : <B style="color: black"><input name="nom" value="{{ x.pays }}" type="submit" style="background-color: white;color: black"><span class="sr-only">(current)</span></B></h1>
            </form>
        <br/>
                <h3>Voyage pour cette destination :
                {% for i in x.voyage.filter %}
                <b>{{ i}} , </b>
                    {% endfor %}
                </h3>

        </div>

        <br/></br>
    {% endfor %}
 <div align="center">
         <form method="POST" action="ajout_voyage">
                    {% csrf_token %}
                    <h1>
                        <button style="background-color: black;color: white"><b>Ajouter un voyage</b></button>
                    </h1>
                </form>
        </div>

</ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>